/* Empty. Add your own CSS if you like */

body .pane {
	background: #eee;
  font-family: 'Regular', Arial;
}

.itemName{
	    font-size: x-large;
			font-weight: bolder;
			font-family: 'Light';
}
.itemQuantity{
	display: block;
	width: 60px;
	float:right;
	text-align: center;
		font-size: 200%;
}
.itemPrice{
	display: block;
	width: 80px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 2px 8px 0px rgba(250,0,0,1);
-moz-box-shadow: 1px 2px 8px 0px rgba(250,0,0,1);
box-shadow: 1px 2px 8px 0px rgba(250,0,0,1);
	float:right;
	text-align: center;

}

.shareIt {
	background-image: url(../img/shareit_sm_wht.png);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 50px;
  display: block;
  font-size: 10px;
  line-height: 10px;
	padding-right: 50px;
	position: absolute;
	right: 2px;
	bottom: 2px;
}

.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.scroll {
  display: table-cell;
  vertical-align: top;
}

.sharewith {
	text-align: center;
	width: 100%;
	position: relative;
}

.sharewith .scroll {
	width: 100%;
}

.sharewith .list {
	text-align: left;
}

.item-loading {
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}


.wifi-symbol {
  display: none;
}
.wifi-symbol [foo], .wifi-symbol {
  display: block;
  position: absolute;
  display: inline-block;
  width: 150px;
  height: 150px;
  bottom: 150px;
  -ms-transform: rotate(-45deg) translate(-100px);
  -moz-transform: rotate(-45deg) translate(-100px);
  -o-transform: rotate(-45deg) translate(-100px);
  -webkit-transform: rotate(-45deg) translate(-100px);
  transform: rotate(-45deg) translate(-100px);
}
.wifi-symbol .wifi-circle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 21.42857px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: #333;
  border-style: solid;
  border-width: 1em 1em 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
  opacity: 0;
  -o-animation: wifianimation 600ms infinite;
  -moz-animation: wifianimation 600ms infinite;
  -webkit-animation: wifianimation 600ms infinite;
  animation: wifianimation 600ms infinite;
}
.wifi-symbol .wifi-circle.first {
  -o-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.wifi-symbol .wifi-circle.second {
  width: 5em;
  height: 5em;
  -o-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.wifi-symbol .wifi-circle.third {
  width: 3em;
  height: 3em;
}
.wifi-symbol .wifi-circle.fourth {
  width: 1em;
  height: 1em;
  opacity: 1;
  background-color: #FFFFCC;
  -o-animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}

@-o-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
@-moz-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
@-webkit-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
