/* Empty. Add your own CSS if you like */

body .pane {
	background: #eee;
  font-family: 'Regular', Arial;
}

.blinker {
  position: absolute;
  left: 50%;
  margin-left:-5px;
  width: 10px;
  top: 100px;
  height: 100px;
  background: #f5f5f5;
}

.fr {
  float: right;
}

.icon.ion-ios-arrow-left {
  font-size: 10px;
}

.menu.menu-right h1.title {
  text-align: left;
  font-weight: normal;
}

.menu .icon {
  font-size: 24px;
  vertical-align: top;
  width: 24px;
  display: inline-block;
  text-align: center;
}

.menu .item {
  line-height: 24px;
}

.bg1 {
  background: url(../img/bg-bottom.png) bottom 60px center no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg2 {
  background: url(../img/bg-top.png) top center no-repeat #f5f5f5;
  background-size: 100%;
  position: relative;
}

.bg2 .scroll {
  width: 100%;
}

.detailbox {
  clear: both;
}

.item {
  min-height: 35px;
}

.item.item-right-editable .item-content {
  padding: 16px 16px 16px 59px;
}

.itemName{
  float: left;
}
.itemBox {
  float: right;
  white-space: nowrap;
}
.added {
  clear: both;
  color: green;
}

.itemQuantity{
  font-family: 'Light';
  float: left;
}
.itemPrice{
	float: left;
  font-family: 'Light';
}
.itemSum{
	float:right;
	text-align: center;
}

.scanit {
  color: blue;
}

.shareIt {
	background-image: url(../img/shareit_sm_wht.png);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 50px;
  display: block;
  font-size: 10px;
  line-height: 10px;
	padding-right: 50px;
	position: absolute;
	right: 2px;
	bottom: 2px;
}

.scanit .shareIt {
  background-image: url(../img/shareit_sm.png);
  color: #333;
}

.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.scroll {
  display: table-cell;
  vertical-align: top;
}

.sharewith {
	text-align: center;
	width: 100%;
	position: relative;
}

.sharewith .scroll {
	width: 100%;
}

.sharewith .list {
	text-align: left;
}

.item-loading {
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}


.wifi-symbol {
  display: none;
}
.wifi-symbol [foo], .wifi-symbol {
  display: block;
  position: absolute;
  display: inline-block;
  width: 150px;
  height: 150px;
  bottom: 180px;
  -ms-transform: rotate(-45deg) translate(-100px);
  -moz-transform: rotate(-45deg) translate(-100px);
  -o-transform: rotate(-45deg) translate(-100px);
  -webkit-transform: rotate(-45deg) translate(-100px);
  transform: rotate(-45deg) translate(-100px);
}
.wifi-symbol .wifi-circle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 21.42857px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: #333;
  border-style: solid;
  border-width: 1em 1em 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
  opacity: 0;
  -o-animation: wifianimation 600ms infinite;
  -moz-animation: wifianimation 600ms infinite;
  -webkit-animation: wifianimation 600ms infinite;
  animation: wifianimation 600ms infinite;
}
.wifi-symbol .wifi-circle.first {
  -o-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.wifi-symbol .wifi-circle.second {
  width: 5em;
  height: 5em;
  -o-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.wifi-symbol .wifi-circle.third {
  width: 3em;
  height: 3em;
}
.wifi-symbol .wifi-circle.fourth {
  width: 1em;
  height: 1em;
  opacity: 1;
  background-color: #FFFFCC;
  -o-animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}

@-o-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
@-moz-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
@-webkit-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}

.payButton {
  padding-right: 35px;
  padding-left: 35px;
  margin-right: 10px;
  margin-top: 10px;
}

.closeModal {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 35px;
}
