<ion-view view-title="PAYMIT">
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <ion-item ng-click="getQR()">
        <h2>Scan QR</h2>
      </ion-item>

            <ion-item ng-click="scheduleDelayedNotification()">
        <h2>scheduleDelayedNotification</h2>
      </ion-item>

            <ion-item ng-click="scheduleSingleNotification()">
        <h2>scheduleSingleNotification</h2>
      </ion-item>

            <ion-item ng-click="scheduleMultipleNotifications()">
        <h2>scheduleMultipleNotifications</h2>
      </ion-item>

            <ion-item ng-click="scheduleEveryMinuteNotification()">
        <h2>scheduleEveryMinuteNotification</h2>
      </ion-item>


            <ion-item ng-click="updateSingleNotification()">
        <h2>updateSingleNotification</h2>
      </ion-item>

            <ion-item ng-click="updateMultipleNotifications()">
        <h2>updateMultipleNotifications</h2>
      </ion-item>
      
            <ion-item ng-click="cancelSingleNotification()">
        <h2>cancelSingleNotification</h2>
      </ion-item>


            <ion-item ng-click="cancelMultipleNotifications()">
        <h2>cancelMultipleNotifications</h2>
      </ion-item>
      
            <ion-item ng-click="cancelAllNotifications()">
        <h2>cancelAllNotifications</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
