  <ion-modal-view>
    <ion-header-bar class="bar bar-assertive">
    <div class="buttons" ng-click="reset()">
      <button class="button">RESET</button>
    </div>
      <h1 class="title">My consumption</h1>
      <div class="buttons" ng-click="closeModal()">
        <button class="button">CLOSE</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="consumptionItem" ng-repeat="item in consumption track by $index" href="#" click-for-options>
          <h2 class="consumptionItemName">{{item.itemName}}</h2>
          <p class="consumptionItemQuantity">{{item.quantity}}</p>
          <ion-option-button class="button-assertive decreaseButton" ng-click="decrease(item, $index)">-</ion-option-button>
        </ion-item>
    	</ion-list>
    <button class="button button-full button-balanced" data-ng-click="pay()"> PAY </button>
    </ion-content>
  </ion-modal-view>
