<ion-view view-title="Electronic invoice">

    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">

        <button ng-if="invoice.isPrimary" class="button button-icon button-clear ion-ios-upload-outline icon-right" ng-click="shareIt()">share&nbsp;</button>

      </ion-nav-buttons>
    </ion-nav-bar>
  <!-- do you want padding -->
  <ion-content class="">
    <ion-list>
      <ion-item>
        <h2>Invoice <span class="fr">#{{invoice.bill.billId}}</span></h2>
      </ion-item>
      <ion-item ng-repeat="item in invoice.bill.billItems" on-swipe-right="addToConsumption(item)">
        <span class="itemName">{{item.itemName}}</span>
        <span class="itemQuantity">{{item.quantity}}</span>
        <span class="itemPrice">{{item.price}} CHF</span>
      </ion-item>
    </ion-list>

    <button ng-if="invoice.isPrimary" ng-click="shareIt()" class="button-full button button-royal">
      Share this bill <span class="shareIt">powered by</span>
    </button>

  </ion-content>

  <div data-ng-if="consumption.length" class="bar bar-positive bar-footer">
    <div class="buttons">
      <h1 class="title" data-ng-click="openModal()">Show my consumption</h1>
    </div>
</div>
</ion-view>
