<ion-view view-title="Electronic invoice">

    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">

        <button ng-if="invoice.isPrimary" class="button button-icon button-clear ion-ios-upload-outline icon-right" ng-click="shareIt()">share&nbsp;</button>

      </ion-nav-buttons>
    </ion-nav-bar>
  <!-- do you want padding -->
  <ion-content class="">
    <ion-list>
      <ion-item>
        <h2>Invoice <span class="fr">#{{invoice.bill.billId}}</span></h2>
      </ion-item>
      <ion-item ng-repeat="item in invoice.bill.billItems" class="item" click-for-options>
        <div class="itemName">{{item.itemName}}</div>
        <div class="itemBox">
        Total:
          <span class="itemQuantity">{{item.quantity}} x&nbsp;</span>
          <span class="itemPrice">{{item.price}} CHF :&nbsp;</span>
          <span class="itemSum">{{item.price*item.quantity}} CHF</span>
        </div>

        <div class="itemBox added" ng-if="consumption.length && consumption.contains(item).quantity > 0">
        You:
          <span class="itemQuantity">{{consumption.contains(item).quantity}} x&nbsp;</span>
          <span class="itemPrice">{{consumption.contains(item).price}} CHF :&nbsp;</span>
          <span class="itemSum">{{consumption.contains(item).price*consumption.contains(item).quantity}} CHF</span>
        </div>
        
        <div class="detailbox" ng-show="item.opened">details</div>
        <ion-option-button class="button-balanced icon ion-ios-plus-empty" ng-click="addToConsumption(item)"></ion-option-button>
      </ion-item>
    </ion-list>

<!--     <button ng-if="invoice.isPrimary" ng-click="shareIt()" class="button-full button button-royal">
      Share this bill <span class="shareIt">powered by</span>
    </button> -->

  </ion-content>

  <div data-ng-if="consumption.length" class="bar bar-positive bar-footer">
    <div class="buttons">
      <h1 class="title" data-ng-click="openModal()">Show my consumption</h1>
    </div>
</div>
</ion-view>
