<ion-view view-title="{{navTitle}}">
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">


      </ion-nav-buttons>
    </ion-nav-bar>
  <!-- do you want padding -->
  <ion-content class="sharewith">

  	<ion-list>

    <ion-item class="item-avatar" ng-repeat="user in users" href="#" click-for-options>
      <img ng-src="{{user.image}}">
      <h2>{{user.name}}</h2>
      <p>{{user.id}}</p>
      <ion-option-button class="button-positive" ng-click="shareWith({{user.id}})">Share</ion-option-button>
    </ion-item>
  	</ion-list>
  	<div ng-if="loadingStart">
    	<div class="wifi-symbol">
		  <div class="wifi-circle first"></div>
		  <div class="wifi-circle second"></div>
		  <div class="wifi-circle third"></div>	
		  <div class="wifi-circle fourth">
		</div>
	</div>
  </ion-content>
</ion-view>
