<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="billManager" class="org.netrunners.paymit.server.getbill.GetBillManager">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="setBillOwnerManager" class="org.netrunners.paymit.server.setbillowner.SetBillOwnerManager">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
	<bean id="paymentManager" class="org.netrunners.paymit.server.payment.PaymentManager">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
</beans>
